<div class="pipe-example">
  <label>Uppercase Pipe: {{ message | uppercase }}</label>
</div>

<div class="pipe-example">
  <label>Lowercase Pipe: {{ message | lowercase }}</label>
</div>

<div class="pipe-example">
  <label>Slice Pipe: {{ message | slice:0.5 }}</label>
</div>

<div class="pipe-example">
  <label>Date Pipe: {{ date | date:'dd MMMM yyyy' }}</label>
</div>

<div class="pipe-example">
  <label>Number Pipe: {{ pi | number:'10.1-3' }}</label>
</div>

<div class="pipe-example">
  <label>Percent Pipe: {{ percentage | percent:'1.1-2' }}</label>
</div>

<div class="pipe-example">
  <label>Currency Pipe: {{ amount | currency:'EUR':true:'2.1-2' }}</label>
</div>

<div class="pipe-example">
  <label>Sorted Pipe: {{ data | sorted:'ASC'}}</label>
</div>

